<div class="get-the-guide">
	<div class="container content-container">
		<div class="row">

			<div class="col-sm-12 tour-item">
				<div class="well well-lg">
					<div class="row">
						<div class="col-sm-3 about">
							<div class="image">
								<%= image_tag("italian-building-italy-destroyed.jpg", :alt => "Italy", :class => 'img-responsive') %>
							</div>

							<div class="description">
								<p>Hello,  My name is Eric, I worked as a guide in 2010. I now am a licensed tour guide. I guide in Japanese, English.  I love history, especially Paris one, I love arts, monuments, and above all gastronomy.  I was born and raised in Paris, so I grew up here, Paris is my city. </p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-xs-4 col-md-12">
									FirstName LastName
								</div>
								<div class="col-xs-4 col-md-12">
									<%= image_tag("black-and-white-man-person-eyes.jpg", :alt => "John", :class => 'img-responsive img-circle') %>
								</div>
								<div class="col-xs-4 col-md-12 text-right">
									<span class="label label-default">Price: $25/h</span>
									<span class="label label-default">Duration: 2h 30m</span>
									<span class="label label-default">Language: English/Ukrainian</span>
									<span class="label label-default">Total worked hours: 400</span>
									<span class="label label-primary">
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star"></span>
										<span class="glyphicon glyphicon-star-empty"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>