<div class="home-page__show">
	<div class="container content-container">
		<form action="/">
			<div class="form-group home-inputs">
				<label for="country">Country</label>
				<select class="form-control" id="country">
				  <option selected>Ukraine</option>
				  <option>United Kingdom</option>
				  <option>Italy</option>
				  <option>France</option>
				</select>
			</div>
			<div class="form-group home-inputs">
				<label for="city">City</label>
				<select class="form-control" id="city">
				  <option selected>Kyiv</option>
				  <option>Odessa</option>
				  <option>Lviv</option>
				  <option>Mykolaiv</option>
				</select>
			</div>
			<div class="form-group home-inputs">
				<label for="language">Language</label>
				<select class="form-control" id="language">
				  <option selected>Italian</option>
				  <option>Ukranian</option>
				  <option>English</option>
				</select>
			</div>
			<div class="form-group home-inputs">
				<label for="date">Date</label>
				<input type="date" class="form-control" id="date">
			</div>

			<button class="btn btn-primary">Get the Guide</button>
		</form>
	</div>
</div>
