<div class="row">
  <div class="col-sm-12 tour-item" style="background-image: url('images/italian-building-italy-destroyed.jpg')">
    <giv class="col-xs-7">
      <h2><%= tour.title %></h2>
    </giv>
    <div class="col-xs-5 text-right">
      <%= image_tag("black-and-white-man-person-eyes.jpg", alt: "John", class: 'img-responsive img-circle') %>
      <h4><small>Guide name:</small> John Madisson</h4>
      <span class="label label-default">Price: $25</span>
      <span class="label label-default">Duration: 2h 30m</span>
    </div>
  </div>
</div>
