<div class="container content-container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag('italian-building-italy-destroyed.jpg', alt: '', class: 'img-responsive') %>
    </div>
    <div class="col-md-6 text-center">
      <h2>Tour title</h2>
      <h4><small>Tourist:</small> John Smith</h4>
      <h4><small>Time:</small> 9:43 AM</h4>
      <a href="#" class="btn btn-success btn-lg">Accept call</a>
    </div>
  </div>
</div>