body
	background: white

.content-container
	margin-top: 45px

.home-page
	
	&__show
		background: transparent image-url('hands-way-guide-tourist.jpg') no-repeat center
		background-size: cover
		width: 100%
		position: absolute
		top: 0
		bottom: 0

		.container
			background: rgba(255, 255, 255, .75)
			padding: 25px