body
	background: white

.navbar
	position: relative
	z-index: 10

.content-container
	margin-top: 45px

.home-page
	
	&__show
		background: transparent image-url('hands-way-guide-tourist.jpg') no-repeat center
		background-size: cover
		width: 100%
		padding-top: 70px
		position: absolute
		top: 0
		bottom: 0

		.container
			background: rgba(255, 255, 255, .75)
			padding: 25px

.tour-item
	padding: 25px
